App_WebReferences/CommunicationService/koni-group-inc.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://koni-group-inc.org" elementFormDefault="qualified" targetNamespace="http://koni-group-inc.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addres" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DishCount" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ExecutionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutionTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDiscount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreparationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfDish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dish" nillable="true" type="tns:Dish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDish" nillable="true" type="tns:ArrayOfDish" />
  <xs:complexType name="Dish">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dish" nillable="true" type="tns:Dish" />
  <xs:complexType name="ArrayOfGood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Good" nillable="true" type="tns:Good" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGood" nillable="true" type="tns:ArrayOfGood" />
  <xs:complexType name="Good">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Good" nillable="true" type="tns:Good" />
</xs:schema>