manager/WebKitchen/App_WebReferences/ComunicationService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.koni-group-inc.org" elementFormDefault="qualified" targetNamespace="www.koni-group-inc.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://online-foods.somee.com/Service.svc?xsd=xsd2" namespace="http://koni-group-inc.org" />
  <xs:element name="SubmitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://koni-group-inc.org" minOccurs="0" name="order" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://koni-group-inc.org" minOccurs="0" name="GetNewOrdersResult" nillable="true" type="q2:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnservedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnservedOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://koni-group-inc.org" minOccurs="0" name="GetUnservedOrdersResult" nillable="true" type="q3:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://koni-group-inc.org" minOccurs="0" name="GetOrdersByDateResult" nillable="true" type="q4:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://koni-group-inc.org" minOccurs="0" name="GetOrderComponentsResult" nillable="true" type="q5:ArrayOfDish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://koni-group-inc.org" minOccurs="0" name="GetPreOrdersResult" nillable="true" type="q6:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://koni-group-inc.org" minOccurs="0" name="GetGoodsResult" nillable="true" type="q7:ArrayOfGood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://koni-group-inc.org" minOccurs="0" name="GetGoodByIdResult" nillable="true" type="q8:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://koni-group-inc.org" minOccurs="0" name="good" nillable="true" type="q9:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyGoodsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecievedMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecievedMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://koni-group-inc.org" minOccurs="0" name="GetRecievedMoneyResult" nillable="true" type="q10:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpentMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpentMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://koni-group-inc.org" minOccurs="0" name="GetSpentMoneyResult" nillable="true" type="q11:ArrayOfGood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://koni-group-inc.org" minOccurs="0" name="GetLostMoneyResult" nillable="true" type="q12:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>